source https://www.nuget.org/api/v2
source ../nugets
storage: none
nuget Argu
nuget FSharp.Core
nuget Expecto
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.TestCorrelator
nuget Suave 2.7.0-ns
nuget Fable.JsonConverter
nuget Fable.Remoting.Json
nuget Suave.Testing

group Build
  framework: >= net45
  source https://www.nuget.org/api/v2
  nuget FAKE
  github fsharp/FAKE modules/Octokit/Octokit.fsx
